@charset "UTF-8";

/* Set white as the default font color */
body {
    color: white;
    overflow: hidden;
}

header {
    width: 90%;
}

/* Prefix of list-style */
ul {
    list-style: none;
}

/* Prefix of a */
a {
    text-decoration: none;
    color: white;
}

/* Bluring background image */
.twitter {
    width: 98%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../img/index/島風_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    border: solid 6px #302e3c;
    border-bottom: none;
    border-radius: 12px 12px 0px 0px;
    z-index: 0;
}

.twitter::before {
    background: inherit;
    content: '';
    filter: brightness(60%) blur(10px);
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    z-index: -1;
}

/* Centering header and status with flex */
.header-twitter,
.status-twitter ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Set border-top and -bottom of .status-twitter */
.status-twitter {
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

/* Set .content-twitter to the center pos of body. No 'position: relative;' required */
.content-twitter {
    position: absolute;
    /* 100% should be a 98% width of .twitter */
    width: 102%;
}

/* Media queries in common fields*/
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    /* Common settings of the .status-twitter icons */
    .icon {
        position: relative;
        padding-left: 55px;
        margin: 0px 20px;
    }

    /* Fix the each width of .status-num to be stable */
    .status-num {
        display: inline-block;
        width: 62px;
    }

    /* tweets-icon */
    .tweets-icon.icon::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../img/index/tweets.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 40%;
        transform: translateY(-50%);
    }

    /* followers-icon */
    .followers-icon.icon::before {
        content: '';
        display: inline-block;
        width: 70px;
        height: 50px;
        background-image: url(../../img/index/followers.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        left: -20px;
        top: 40%;
        transform: translateY(-50%);
    }
    
    .followers-icon.icon {
        margin-left: 45px;
    }

    /* likes-icon */
    .likes-icon.icon::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../../img/index/likes.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 40%;
        transform: translateY(-50%);
    }

    .status-twitter {
        width: 600px;
        margin: 50px auto 30px auto;
        padding-top: 25px;
        padding-bottom: 15px;
    }

    /* square button */
    .square-button {
        width: 240px;
        height: 60px;
        margin: 50px auto 0px auto;
        border-radius: 3px;
        font-size: 1.5rem;
    }

    .square-button a {
        width: 240px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Yellow - .square-button */
    .yellow.square-button {
        background-color: #f4a807;
    }

    /* figure and figcaption configuring */
    .fig{
        display: inline-block;
    }
    .fig img {
        height: 50px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}