@charset "UTF-8";

h1 {
    position: relative;
    font-size: 4em;
    color: rgba(255, 255, 255, 1);
}

h1::after{
    content: '';
    position: absolute;
    width: 10000px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 4px;
    left: -4000px;
}

#container {
    position: relative;
    width: 100%;

    z-index: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

#container::before {
    content: '';
    background: url('../../img/index/花騎士マンリョウasdasfasfasdsgsdagfasfasf.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    filter: blur(3px);
    /*ぼかし度*/
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}

.content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;

    height: 50px;

    /* background-color: red; */
}

.content-box{
    background-color: #1f2024;
    width: 100%;
    height: 100px;
    color: rgba(255, 255, 255, 0.6);
}

header img:last-child{
    float: right;
    opacity: 0.5;
    width: 30px;
    margin: 0px 10px 0px 10px;
}