@charset "UTF-8";

/* Set white as the default font color */
body {
    color: white;
    overflow: hidden;
}

/* Prefix of list-style to be none */
ul {
    list-style: none;
}

/* Prefix of a */
a {
    text-decoration: none;
    color: white;
}

/* Bluring background image */
.twitter {
    width: 96%;
    height: inherit;
    margin: 1.5% auto 0px auto;
    background-image: url(../../img/index/島風_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    border: solid 6px #302e3c;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.twitter::before{
    background: inherit;
    content: '';
    filter: brightness(60%) blur(10px);
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
}

