@charset "UTF-8";

.img-style {
    position: absolute;
    width: 600px;
    border: solid 1px rgba(255, 0, 0, 0);
}

.resize-box-wrapper {
    position: relative;
}

.in-active {
    display: none;
}

.selected {
    border: solid 1px rgba(255, 0, 0, 1);
}

.resize {
    height: auto;
    overflow: auto;
    resize: horizontal;
}

.move-pointer {
    cursor: move;
}

.left-top,
.right-top,
.right-bottom,
.left-bottom {
    position: absolute;
    background-color: white;
    border: solid 1px red;
    width: 10px;
    height: 10px;
}

.left-top,
.right-bottom {
    cursor: nwse-resize;
}

.right-top,
.left-bottom {
    cursor: nesw-resize;
}

.left-top {
    top: -5px;
    left: -5px;
}

.right-top {
    top: -5px;
    left: calc(100% - 5px);
}

.right-bottom {
    top: calc(100% - 5px);
    left: calc(100% - 5px);
}

.left-bottom {
    top: calc(100% - 5px);
    left: -5px;
}