@charset "UTF-8";

/* Importing made-bruno font */
@font-face {
    font-family: made-bruno;
    src: url(../../font/MADE\ Bruno\ PERSONAL\ USE.otf);
}

/* Variables */
:root {
    --bar-width: 17px;
}

html,
body {
    height: 100%;
    -ms-scroll-chaining: none;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: agency-fb, sans-serif;
    font-style: normal;
    background-color: #32303f;
    color: white;
    /* To show scrollbar anytime */
    overflow-y: scroll;
}

/* made-bruno font */
.made-bruno {
    font-family: made-bruno;
}

/* White - made-bruno */
.white.made-bruno {
    color: white;
}

/* half-opacity - made-bruno */
.half-opacity.made-bruno {
    color: white;
    opacity: 0.5;
}

/* Gray - made-bruno */
.gray.made-bruno {
    color: #4d4b55;
}

/* agency-fb font */
.agency-fb {
    font-family: agency-fb, sans-serif;
    font-style: normal;
}

/* Regular font - agency-fb */
.regular.agency-fb {
    font-weight: 200;
}

/* Bold - agency-fb */
.bold.agency-fb {
    font-weight: bold;
}

/* White - agency-fb */
.white.regular.agency-fb,
.white.bold.agency-fb {
    color: white;
}

/* half-opacity - agency-fb */
.half-opacity.regular.agency-fb,
.half-opacity.bold.agency-fb {
    color: white;
    opacity: 0.5;
}

/* Gray - agency-fb */
.gray.regular.agency-fb,
.gray.bold.agency-fb {
    color: #4d4b55;
}

/* Centering */
/* text-align way of centering */
.center-text-align {
    text-align: center;
}

/* margin way of centering */
.center-margin-auto {
    margin: 0 auto;
}

/* Loading gif */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2a2835;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* clearfix */
.clearfix:after {
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: ".";
}

.clearfix {
    min-height: 1px;
}

/* The parent of all contents */
#container {
    width: 100%;
}

/* Common prefix for .menu and .content */
.column {
    float: left;
}

/* Set a accurate width and margin for content-block */
.content-block {
    position: relative;
    z-index: 0;

    width: 98%;
    /* Change height to allow scroll */
    /* height: inherit; */
    /* height: 100vh; */
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
    background-color: #302e3c;

    /* overflow: hidden for not allowing to show some artifacts */
    overflow: hidden;
    border: solid 6px #302e3c;
    border-bottom: none;
    border-radius: 12px 12px 0px 0px;
}

/* Circlized a picture */
.circlized {
    border-radius: 50%;
}

/* Circlized + Gradation */
.wrapper-gradation-circlized.circlized {
    position: relative;
    /* background: linear-gradient(126deg, #2225ba, #c1125b); */
    background: linear-gradient(45deg, #007eff, #ff17b1);
    background-size: 200% 200%;
    animation: AnimationName 13s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }

    50% {
        background-position: 100% 9%
    }

    100% {
        background-position: 0% 92%
    }
}

.gradation.circlized {
    position: absolute;
}

/* Centering header and sub-header. ex.PORTFOLIO, SOCIAL */
/* .fix-head.center-margin-auto {
    width: 90%;
} */

/* .menu ul > li */
.menu-li-common {
    display: inline-block;
    width: 100%;
    opacity: 0.5;
    padding: 25px 0px 20px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 100%;
}

/* Add dot-and-line decoration for 'INTRODUCTION' */
.line-border-intro {
    border-top: solid 1px white;
}

.dot-line-intro::before {
    position: absolute;
    content: '・';
    font-size: 11px;
    top: 195px;
    right: 45px;
    opacity: 0.5;
    color: white;
}

/* Add common dot-and-line decoration */
.line-border::before {
    content: '';
    display: inline-block;
    background: #4d4b55;
    height: 50px;
    width: 1px;
    margin-right: 15px;

    border-radius: 25%;
}

.dot-line {
    position: relative;
    padding-top: 20px;
    margin-bottom: 10px;
}

.dot-line::before {
    position: absolute;
    content: '・';
    font-size: 15px;
    color: #4d4b55;
    top: 66px;
    left: 0;
}

/* Fix a position of each menu icon */
.twitter-menu,
.github-menu,
.pixiv-menu,
.twitch-menu {
    position: relative;
}

.twitter-menu::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 30%;
    background-image: url(../../img/common/twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.github-menu::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 35%;
    background-image: url(../../img/common/github_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.pixiv-menu::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 35%;
    background-image: url(../../img/common/pixiv.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.twitch-menu::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 35%;
    background-image: url(../../img/common/twitch.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.code-menu::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 35%;
    background-image: url(../../img/common/code.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.illustration-menu::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 35%;
    background-image: url(../../img/common/paint.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.webservice-menu::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 35%;
    background-image: url(../../img/common/right-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

/* Current page */
.active-current-page {
    border-left: solid 4px #f4a807;
    border-top: solid 3px rgba(32, 29, 38, 0.6);
    border-bottom: solid 3px rgba(32, 29, 38, 0.6);
    color: white;
    opacity: 1;
    background-color: #383747;
}

/* Set a dot before a string */
.before-dot {
    position: relative;
}

.before-dot::before {
    content: '・';
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: 0;

    position: absolute;
    left: 6px;
    top: 50%;
}

.red.before-dot::before {
    color: #c1125b;
}

/* rotate INTRODUCTION and other prefixes */
.intro {
    position: absolute;
    transform: rotate(-90deg);
    top: 100px;
    right: -45px;

    padding-right: 35px;
}

/* Preparing sub-menu as positioning, and .menu-trigger to introduce css animation */
.sub-menu {
    position: absolute;
    border-radius: 0 3px 0 3px;
    padding: 15px;
    background-color: #32303f;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 30px;
    height: 17px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 10px;
}

.menu-trigger span:nth-of-type(3) {
    top: 20px;
}

.menu-trigger.active-menu-trigger span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}

.menu-trigger.active-menu-trigger span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active-menu-trigger span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}

/* figure and figcaption configuring */
.fig {
    display: inline-block;
}

.menu {
    position: fixed;
    background-color: #2a2835;
    top: 0;
    left: 0;
    height: 100%;

    /* Prefix for allowing overflow in vertical */
    overflow-x: hidden;
}

/* Delete scrollbar in y direction */
.menu-block-scrollbar-hidden {
    /* width: calc(100% + 17px); */
    width: calc(100% + var(--bar-width));
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
}

/* Active sub-menu */
.active-humberger {
    /* prefix for humberger-menu */
    transform: translatex(0%) !important;
}

/* The parent of the main content */
/* .content.column {
    background-color: #32303f;
} */

/* Animation feedback for hovering. Double shadow */
.hover-shadow-double {
    position: relative;
    transition: .3s;
}

.hover-shadow-double:link,
.hover-shadow-double:visited,
.hover-shadow-double:hover,
.hover-shadow-double:active {
    color: white;
}

.hover-shadow-double::before,
.hover-shadow-double::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}

.hover-shadow-double::before {
    background: #383747;
}

.hover-shadow-double::after {
    background: #32303f;
}

.hover-shadow-double:hover::before,
.hover-shadow-double:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

.hover-shadow-double:hover::after {
    transition-delay: .3s;
}

/* Animation feedback for hovering. Single shadow */
.hover-shadow-single {
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #d38818;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

.hover-shadow-single:link,
.hover-shadow-single:visited,
.hover-shadow-single:hover,
.hover-shadow-single:active {
    color: white;
}

.hover-shadow-single::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
    background: #f4a807;
}

.hover-shadow-single:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

/* square button. Covering a tag with this .square-button */
.square-button {
    width: 240px;
    height: 60px;
    margin: 50px auto 0px auto;
    border-radius: 3px;
    font-size: 1.5rem;
}

.square-button a {
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* Yellow - .square-button */
.yellow.square-button {
    background-color: #f4a807;
}

/* Flex settings */
.flex-box {
    display: flex;
}

/* To align items horizontal-center */
.justify-center {
    justify-content: center;
}

/* To align items vertical-center */
.align-items {
    align-items: center;
}

/* To wrap texts */
.flex-wrap {
    flex-wrap: wrap;
}

/* To use space-between */
.flex-space-between {
    justify-content: space-between;
}

/* To set the direction of .flex-space-between vertically */
.flex-direction {
    flex-direction: column;
}

/* Insert dropcap */
.dropcap::first-letter {
    font-size: 4rem;
    line-height: 1;
    float: left;
    margin: 0 0.6rem 0 0;
    padding: 0 0;
}

/* To justify sentences */
.justify-sentence {
    text-align: justify;
    text-justify: inter-ideograph;
}

/* orange-to-red-button */
.orange-to-red-button {
    background: -moz-linear-gradient(0% 50% 0deg, rgba(190, 39, 45, 1) 11.24%, rgba(155, 0, 93, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(190, 39, 45, 1) 11.24%, rgba(155, 0, 93, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.1124, rgba(190, 39, 45, 1)), color-stop(1, rgba(155, 0, 93, 1)));
    background: -o-linear-gradient(0deg, rgba(190, 39, 45, 1) 11.24%, rgba(155, 0, 93, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(190, 39, 45, 1) 11.24%, rgba(155, 0, 93, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BE272D', endColorstr='#9B005D' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(190, 39, 45, 1) 11.24%, rgba(155, 0, 93, 1) 100%);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BE272D', endColorstr='#9B005D', GradientType=1);
}

/* Place jump icon */
.jump-icon {
    position: relative;
}

.jump-icon::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/common/open.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

/* Set border-top line to footer */
footer {
    width: 100%;
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin-top: 20px;
}

/* For loader animation */
/* .spin-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
} */

.spin-wrapper .spinner {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #A04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.spin-wrapper .spinner:before,
.spin-wrapper .spinner:after {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
}

.spin-wrapper .spinner:before {
    border-top-color: #254E70;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    animation: spin 3s linear infinite;
}

.spin-wrapper .spinner:after {
    border-top-color: #FFFBFE;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Chaging the color of menu header to rainbow when hovering */
.rainbow:hover {
    color: rgba(0, 0, 0, 0);
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,
            #E7484F,
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%,
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%);
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

/* Add glitch effect */
.glitch {
    position: relative;
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(51px, 9999px, 22px, 0);
        transform: skew(0.55deg);
    }

    5% {
        clip: rect(36px, 9999px, 18px, 0);
        transform: skew(0.41deg);
    }

    10% {
        clip: rect(55px, 9999px, 100px, 0);
        transform: skew(0.45deg);
    }

    15% {
        clip: rect(17px, 9999px, 73px, 0);
        transform: skew(0.22deg);
    }

    20% {
        clip: rect(99px, 9999px, 98px, 0);
        transform: skew(0.1deg);
    }

    25% {
        clip: rect(53px, 9999px, 15px, 0);
        transform: skew(0.66deg);
    }

    30% {
        clip: rect(100px, 9999px, 17px, 0);
        transform: skew(0.08deg);
    }

    35% {
        clip: rect(77px, 9999px, 95px, 0);
        transform: skew(0.4deg);
    }

    40% {
        clip: rect(4px, 9999px, 5px, 0);
        transform: skew(0.52deg);
    }

    45% {
        clip: rect(1px, 9999px, 25px, 0);
        transform: skew(0.77deg);
    }

    50% {
        clip: rect(69px, 9999px, 38px, 0);
        transform: skew(0.68deg);
    }

    55% {
        clip: rect(23px, 9999px, 56px, 0);
        transform: skew(0.44deg);
    }

    60% {
        clip: rect(68px, 9999px, 84px, 0);
        transform: skew(0.41deg);
    }

    65% {
        clip: rect(71px, 9999px, 86px, 0);
        transform: skew(0.25deg);
    }

    70% {
        clip: rect(91px, 9999px, 43px, 0);
        transform: skew(0.29deg);
    }

    75% {
        clip: rect(49px, 9999px, 43px, 0);
        transform: skew(0.33deg);
    }

    80% {
        clip: rect(42px, 9999px, 85px, 0);
        transform: skew(0.56deg);
    }

    85% {
        clip: rect(91px, 9999px, 61px, 0);
        transform: skew(0.86deg);
    }

    90% {
        clip: rect(29px, 9999px, 53px, 0);
        transform: skew(0.1deg);
    }

    95% {
        clip: rect(4px, 9999px, 71px, 0);
        transform: skew(0.08deg);
    }

    100% {
        clip: rect(34px, 9999px, 59px, 0);
        transform: skew(0.09deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(53px, 9999px, 86px, 0);
        transform: skew(0.62deg);
    }

    5% {
        clip: rect(82px, 9999px, 1px, 0);
        transform: skew(0.95deg);
    }

    10% {
        clip: rect(26px, 9999px, 24px, 0);
        transform: skew(0.37deg);
    }

    15% {
        clip: rect(28px, 9999px, 27px, 0);
        transform: skew(0.36deg);
    }

    20% {
        clip: rect(36px, 9999px, 55px, 0);
        transform: skew(0.81deg);
    }

    25% {
        clip: rect(55px, 9999px, 9px, 0);
        transform: skew(0.34deg);
    }

    30% {
        clip: rect(93px, 9999px, 36px, 0);
        transform: skew(0.2deg);
    }

    35% {
        clip: rect(83px, 9999px, 95px, 0);
        transform: skew(0.09deg);
    }

    40% {
        clip: rect(66px, 9999px, 46px, 0);
        transform: skew(0.01deg);
    }

    45% {
        clip: rect(100px, 9999px, 43px, 0);
        transform: skew(0.68deg);
    }

    50% {
        clip: rect(74px, 9999px, 83px, 0);
        transform: skew(0.49deg);
    }

    55% {
        clip: rect(60px, 9999px, 47px, 0);
        transform: skew(0.86deg);
    }

    60% {
        clip: rect(65px, 9999px, 19px, 0);
        transform: skew(0.39deg);
    }

    65% {
        clip: rect(51px, 9999px, 92px, 0);
        transform: skew(0.48deg);
    }

    70% {
        clip: rect(22px, 9999px, 94px, 0);
        transform: skew(0.74deg);
    }

    75% {
        clip: rect(57px, 9999px, 42px, 0);
        transform: skew(0.51deg);
    }

    80% {
        clip: rect(35px, 9999px, 22px, 0);
        transform: skew(0.62deg);
    }

    85% {
        clip: rect(62px, 9999px, 35px, 0);
        transform: skew(0.57deg);
    }

    90% {
        clip: rect(41px, 9999px, 6px, 0);
        transform: skew(0.75deg);
    }

    95% {
        clip: rect(99px, 9999px, 15px, 0);
        transform: skew(0.63deg);
    }

    100% {
        clip: rect(99px, 9999px, 100px, 0);
        transform: skew(0.23deg);
    }
}

/* Typing animation */
.typing {
    /* Adjust width and animation step num to the specific strings. Also need to adjust line-space */
    width: 6ch;
    border-right: .1rem solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typying 3s steps(6, end), caret .5s step-end infinite;
}

@keyframes typying {
    from {
        width: 0;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* Media queries in common fields*/
@media (min-width: 0px) {
    .menu {
        display: block;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.5s ease-in-out;
        transform: translatex(-100%);
        /* It is important for scrollbar to be always hidden. I dont know why */
        overflow: hidden;
    }

    .content-block {
        padding-top: 60px;
    }

    /* Prefix for the header-title 'PORTFOLIO' */
    .portfolio {
        font-size: 1.5rem;
        margin-left: 15px;
    }

    .sub-menu {
        display: block;
    }

    /* The parent of the main content */
    .content {
        width: 100%;
    }

    .dot-line-intro {
        display: none;
    }

    /* footer {
        visibility: hidden;
    } */

    .dot-line {
        margin-left: 20px;
    }

    .dot-line::before {
        left: -7px;
    }
}

@media (min-width: 1000px) {

    /* The parent of the header and footer */
    .menu {
        visibility: visible;
        display: block;
        transform: none;
    }

    /* Prevent the changing of menu-width due to scrollbar apearing */
    .menu,
    .menu-li-common {
        width: 300px;
    }

    .content-block {
        padding-top: 30px;
    }

    .sub-menu {
        display: none;
    }

    /* The parent of the main content */
    .content {
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    .dot-line-intro {
        display: block;
    }

    .portfolio {
        font-size: 2.3rem;
    }

    /* footer {
        visibility: visible;
    } */

    .dot-line::before,
    .line-border::before {
        visibility: visible;
    }
}

@media (min-width: 1920px) {

    .menu,
    .menu-li-common {
        width: 350px;
    }


    /* The parent of the main content */
    .content {
        width: calc(100% - 350px);
        margin-left: 350px;
    }

    .portfolio {
        font-size: 2.7rem;
    }
}