@charset "UTF-8";

/* Importing made-bruno font */
@font-face {
    font-family: made-bruno;
    src: url(../../font/MADE\ Bruno\ PERSONAL\ USE.otf);
}

body {
    font-family: agency-fb, sans-serif;
    font-style: normal;
}

/* made-bruno font */
.made-bruno {
    font-family: made-bruno;
}

/* White - made-bruno */
.white.made-bruno {
    color: white;
}

/* half-opacity - made-bruno */
.half-opacity.made-bruno {
    color: white;
    opacity: 0.5;
}

/* Gray - made-bruno */
.gray.made-bruno {
    color: #4d4b55;
}

/* agency-fb font */
.agency-fb {
    font-family: agency-fb, sans-serif;
    font-style: normal;
}

/* Regular font - agency-fb */
.regular.agency-fb {
    font-weight: 200;
}

/* Bold - agency-fb */
.bold.agency-fb {
    font-weight: bold;
}

/* White - agency-fb */
.white.regular.agency-fb,
.white.bold.agency-fb {
    color: white;
}

/* half-opacity - agency-fb */
.half-opacity.regular.agency-fb,
.half-opacity.bold.agency-fb {
    color: white;
    opacity: 0.5;
}

/* Gray - agency-fb */
.gray.regular.agency-fb,
.gray.bold.agency-fb {
    color: #4d4b55;
}

/* Centering */
/* text-align way of centering */
.center {
    text-align: center;
}

/* margin way of centering */
.center-2 {
    margin: 0 auto;
}

/* Loading gif */
#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #2a2835;
    z-index: 1;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* clearfix */
.clearfix:after {
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: ".";
}

.clearfix {
    min-height: 1px;
}

/* The parent of all contents */
#container {
    width: 100%;
}

/* Common prefix for .menu and .content */
.column {
    float: left;
}

/* Circlized a picture */
.circlized {
    border-radius: 50%;
}

/* Circlized + Gradation */
.wrapper-gradation-circlized.circlized {
    position: relative;
    /* background: linear-gradient(126deg, #2225ba, #c1125b); */
    background: linear-gradient(45deg, #007eff, #ff17b1);
    background-size: 200% 200%;
    animation: AnimationName 13s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }

    50% {
        background-position: 100% 9%
    }

    100% {
        background-position: 0% 92%
    }
}

.gradation.circlized {
    position: absolute;
}

/* Centering h1 header POTFOLIO */
.fix-head.center-2 {
    width: 90%;
}

/* menu nav > h2 */
.menu-h2-common {
    margin-left: 34px;
}

/* .menu ul > li */
.menu-li-common {
    display: inline-block;;
    width: 100%;
    opacity: 0.5;
    padding: 18px 0px 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Fix a position of each menu icon */
.twitter-menu, .github-menu, .pixiv-menu {
    position: relative;
}

.twitter-menu::after {
    content: '';
    display: inline-block;
    width: 30%;
    height: 30%;
    background-image: url(../../img/common/twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 48%;
    transform: translateY(-50%);
}

.github-menu::after {
    content: '';
    display: inline-block;
    width: 35%;
    height: 35%;
    background-image: url(../../img/common/github.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 48%;
    transform: translateY(-50%);
}

.pixiv-menu::after {
    content: '';
    display: inline-block;
    width: 38%;
    height: 38%;
    background-image: url(../../img/common/pixiv.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
}

/* Current page */
.active {
    border-left: solid 4px #f4a807;
    border-top: solid 3px rgba(32, 29, 38, 0.6);
    border-bottom: solid 3px rgba(32, 29, 38, 0.6);
    color: white;
    opacity: 1;
    background-color: #383747;
}

/* Media queries in common fields*/
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {

    /* The parent of the header and footer */
    .menu.column {
        width: 20%;
        min-width: 300px;
        background-color: #2a2835;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    /* The parent of the main content */
    .content.column {
        width: 80%;
        background-color: #32303f;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}