@charset "UTF-8";

/* Importing made-bruno font */
@font-face {
    font-family: made-bruno;
    src: url(../../font/MADE\ Bruno\ PERSONAL\ USE.otf);
}

body {
    font-family: agency-fb, sans-serif;
    font-style: normal;
}

/* made-bruno font */
.made-bruno {
    font-family: made-bruno;
}

/* White - made-bruno */
.white.made-bruno {
    color: white;
}

/* half-opacity - made-bruno */
.half-opacity.made-bruno {
    color: white;
    opacity: 0.5;
}

/* Gray - made-bruno */
.gray.made-bruno {
    color: #4d4b55;
}

/* agency-fb font */
.agency-fb {
    font-family: agency-fb, sans-serif;
    font-style: normal;
}

/* Regular font - agency-fb */
.regular.agency-fb {
    font-weight: 200;
}

/* Bold - agency-fb */
.bold.agency-fb {
    font-weight: bold;
}

/* White - agency-fb */
.white.regular.agency-fb,
.white.bold.agency-fb {
    color: white;
}

/* half-opacity - agency-fb */
.half-opacity.regular.agency-fb,
.half-opacity.bold.agency-fb {
    color: white;
    opacity: 0.5;
}

/* Gray - agency-fb */
.gray.regular.agency-fb,
.gray.bold.agency-fb {
    color: #4d4b55;
}

/* Centering */
/* text-align way of centering */
.center {
    text-align: center;
}

/* margin way of centering */
.center-2 {
    margin: 0 auto;
}

/* Loading gif */
#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #2a2835;
    z-index: 1;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* clearfix */
.clearfix:after {
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
    content: ".";
}

.clearfix {
    min-height: 1px;
}

/* The parent of all contents */
#container {
    width: 100%;
}

/* Common prefix for .menu and .content */
.column {
    float: left;
}

/* Circlized a picture */
.circlized {
    border-radius: 50%;
}

/* Circlized + Gradation */
.wrapper-gradation-circlized.circlized {
    position: relative;
    /* background: linear-gradient(126deg, #2225ba, #c1125b); */
    background: linear-gradient(45deg, #007eff, #ff17b1);
    background-size: 200% 200%;
    animation: AnimationName 13s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }

    50% {
        background-position: 100% 9%
    }

    100% {
        background-position: 0% 92%
    }
}

.gradation.circlized {
    position: absolute;
}

/* Set the menu font to be bold */
.menu li {
    font-weight: bold;
}

/* Media queries in common fields*/
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {

    /* The parent of the header and footer */
    .menu.column {
        width: 20%;
        background-color: #2a2835;
        top: 0;
        left: 0;
    }

    /* The parent of the main content */
    .content.column {
        width: 80%;
        background-color: #32303f;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}