@charset "UTF-8";

/* Set white as the default font color */
/* body {

} */

/* Prefix of a */
a {
    text-decoration: none;
    color: white;
}

/* Bluring background image */
.pixiv {
    background-image: url(/img/social/pixiv/紫式部_添削.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.pixiv::before {
    background: inherit;
    content: '';
    filter: brightness(80%) contrast(120%) blur(15px);
    position: absolute;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    z-index: -1;
}

/* Prefix for top and bottom margin for the .content-pixiv */
/* .content-pixiv {
    margin: 60px 0;
} */

/* Fix the pos of .hover-shadow-single */
.hover-shadow-single {
    border-color: #c1125bb9;
    /* border-radius: 30px; */
    padding: 15px 100px;
    overflow: hidden;
}

.hover-shadow-single::before {
    background-color: #c1125b;
}

/* Fix the pos of .jump-icon */
.jump-icon {
    padding-right: 30px;
}

.jump-icon::after {
    width: 80%;
    height: 80%;
    left: 100px;
    top: 45%;
}

/* Media queries in common fields*/
/* Larger than mobile */
@media (min-width: 0px) {
    .pixiv-logo {
        text-align: center;
        position: static;
        min-width: 230px;
        width: 30%;

        padding-bottom: 30px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    }

    .hover-shadow-single {
        padding: 15px 80px;
    }
}

@media (min-width: 1500px) {
    .pixiv-logo {
        position: absolute;
        width: 280px;
        top: 95px;
        right: 130px;

        padding-bottom: 0px;
        border: none;
    }

    .hover-shadow-single {
        padding: 15px 100px;
    }
}