@charset "UTF-8";

#col-board {
    position: absolute;
    left: 0;
}

#colpick-button {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 1px #c1125b;
    cursor: pointer;
    opacity: 0.8;

    transition: all .3s ease-in-out;
}

#colpick-button::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(/img/works/webservice/canvas-eve/red_spuit.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition: all .3s ease-in-out;
}

#colpick-button:hover {
    opacity: 1;
}

#colpick-button.active {
    background-color: #c1125b;
    opacity: 1;
}

#colpick-button.active::before {
    background-image: url(/img/works/webservice/canvas-eve/dark_spuit.png);
}