@charset "UTF-8";

/* Set white as the default font color */
body {
    color: white;
    /* overflow: hidden; */
}

/* Delete border from .content-block */
.github {
    border: none;
}

/* Prefix for the entire content */
.content-github {
    width: 80%;
    margin: 60px 0;
}

/* Delete list dot */
.content-progress-github li {
    list-style: none;
}

/* Prefix for the progress content */
.progress-li-common {
    display: block;
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px 0px 20px 80px;
    background-color: rgba(42, 40, 53, 0.7);
    border-radius: 3px;
    /* overflow: hidden; */
}

.html5-lang,
.css3-lang,
.javascript-lang,
.ruby-lang,
.c-lang,
.csharp-lang {
    position: relative;
}

.html5-lang::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/github/html5.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
}

.css3-lang::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/github/css3.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
}

.javascript-lang::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/github/javascript.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translateY(-50%);
}

.ruby-lang::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/github/ruby.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: -47px;
    top: 56%;
    transform: translateY(-50%);
}

.c-lang::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/github/c.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
}

.csharp-lang::before {
    content: '';
    display: inline-block;
    width: 90px;
    height: 30px;
    background-image: url(../../img/github/csharp.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
}

/* Common property for lang name */
.name-lang {
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: middle;
    width: 100px;
}

/* Common property for progress box. progress-bar is inside of it */
.progress-lang {
    position: relative;
    display: inline-block;
    /* width: calc(100% - 35px -80px -20%); */
    /* width: calc(80% - 115px); */
    width: calc(100% - 200px);
    height: 3px;
    border-radius: 30px;
    background-color: #6a6973;
    vertical-align: middle;
}

/* Transition width - html5 progress : 90% */
.html5-progress-bar.is-active::before {
    width: 90%;
}

/* Transition width - css3 progress : 90% */
.css3-progress-bar.is-active::before {
    width: 90%;
}

/* Transition width - javascript progress : 80% */
.javascript-progress-bar.is-active::before {
    width: 80%;
}

/* Transition width - ruby progress : 75% */
.ruby-progress-bar.is-active::before {
    width: 75%;
}

/* Transition width - c progress : 50% */
.c-progress-bar.is-active::before {
    width: 50%;
}

/* Transition width - csharp progress : 70% */
.csharp-progress-bar.is-active::before {
    width: 70%;
}

/* Property for each progress-bar */
.html5-progress-bar::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
    transition: width 500ms ease-in-out;

    background: #e56470;
    /* width: 90%; */
    width: 0%;
}

.css3-progress-bar::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
    transition: width 500ms ease-in-out;

    background: #57afb6;
    width: 0%;
}

.javascript-progress-bar::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
    transition: width 500ms ease-in-out;

    background: #f6be54;
    width: 0%;
}

.ruby-progress-bar::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
    transition: width 500ms ease-in-out;

    background: #dc6e8f;
    width: 0%;
}

.c-progress-bar::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
    transition: width 500ms ease-in-out;

    background: #959bc8;
    width: 0%;
}

.csharp-progress-bar::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
    transition: width 500ms ease-in-out;

    background: #b285b8;
    width: 0%;
}

/* Common property for progress-total-number */
.progress-num {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3rem;
    width: 50px;
    text-align: right;
}

/* Fix the pos of .jump-icon */
.jump-icon {
    padding-right: 30px;
}
.jump-icon::after {
    width: 80%;
    height: 80%;
    left: 135px;
    top: 45%;
}

/* Fix the pos of .hover-shadow-single */
.hover-shadow-single {
    margin: 10px auto 0px auto;
}

/* Prefix for .description-content-mywork-github */
.description-content-mywork-github {
    font-size: 1.3rem;
    line-height: 2rem;
}

/* Media queries in common fields*/
/* Larger than mobile */
@media (min-width: 0px) {
    .progress-li-common {
        width: 100%;
    }

    .figure-content-mywork-github {
        width: 100%;
    }

    .description-content-mywork-github{
        width: 100%;
    }

    .hover-shadow-single {
        padding: 15px 40px;
    }

    .jump-icon {
        padding-right: 20px;
    }

    .description-content-mywork-github h2 {
        text-align: center;
    }
}

@media (min-width: 570px) {
    .hover-shadow-single {
        padding: 15px 150px;
    }
}

@media (min-width: 1000px) {
    .progress-li-common {
        width: calc(50% - 20px);
    }

    .figure-content-mywork-github {
        width: 25%;
        margin-right: 30px;
    }

    .description-content-mywork-github {
        width: calc(75% - 30px);
    }

    .hover-shadow-single {
        padding: 15px 150px;
    }

    .jump-icon {
        padding-right: 30px;
    }
    .jump-icon::after {
        width: 80%;
        height: 80%;
        left: 135px;
        top: 45%;
    }

    .description-content-mywork-github h2 {
        text-align: left;
    }
}